/* active nav link */
.active{
  text-decoration: underline;
}

.tasklist:hover{
  background-color: rgba(132, 0, 255, 0.3) !important;
  border: 1px solid rgba(132, 0, 255, 0.3) !important;
}

.form-control {
  border: 1px solid gold !important;
  background: #fffbe6 !important;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

body{
  background-image: url('./images/energy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.authbox{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  color: #ccc;
  padding: 50px;
}

.authbox h1{
  color: #ccc;
}

.form-control{
  background-color: #ccc !important;
  border: 1px solid #ccc !important;
}